@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.MainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.MainContainer h1 {
    font-family: 'Poppins', sans-serif;
}


