input {
    background-color: transparent;
    width: 3rem;
    /* height: 1rem; */
    font-size: 1rem;
    border: none;

    text-align: right;

    outline: none;
}

body {
    /* margin: 100px; */
    background-color: white;
}

* {
    box-sizing: border-box;
    /* border: solid 1px black; */
}